body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;

  /* added */
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;

  /* added */
  flex-shrink: 0;
  padding: 16px;
}

/* added */
ul {
  list-style-type: none;
  color: white;
  font-size: 24px;
}

/* added */
a {
  text-decoration: none;
  
}

/* added */
a:visited {
  color: white;
}

/* added */
.content {
  display: flex;
  flex: 1;
}

/* added */
.cards {
  padding: 48px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}
