@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  /* added */
  display: flex;
  flex-direction: column;
}

/* added */
.header, .footer {
  display: flex;
  justify-content: space-between;
  /* padding: 0px 12px; */
  padding: 16px;
}

/* added */
.footer {
  background-color: #eeeeee;
}

/* added, commented out after. all changes in solution made in ul */
/* .left-links, .right-links{
  display: flex;
  align-items: center;
  gap: 15px;
} */

.content {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}


img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

  /* added */
  padding: 8px 20px;;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* added */
ul {
  list-style-type: none;
  /* added after */
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 16px;
}

/* added */
.left-links {
  padding-left: 5px;

}

/* added */
a {
  color: grey;
  text-decoration: none;
}
